@import '~antd/dist/antd.css';

.dark{
    background-color: #001529;
    color: white;
}

.con{
    position: relative;
    width: auto;
    height: auto;
    background-color: aqua;
}
.margin{
    margin-left: 300px;
}



::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  